/node_modules
/public/hot
/public/storage
/public/generados
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*g.zip

/public/ws
/public/assets/archivos
/public/.well-known
/public/.user.ini
/public/word/*.docx
/public/word/alfa/*.docx
/public/word/matriz/*.docx
/public/word/delta/*.docx
/public/word/omega/*.docx
/public/*.zip
/public/*.docx
/public/*.pdf

.htaccess
